<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap"
      rel="stylesheet"
    />

    <!-- main.css -->
    <link rel="stylesheet" href="/public/main.css" />
    <link rel="stylesheet" href="/public/chat.css" />

    <title>Todo</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- socket.io 필요 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" ></script>
   
    <!-- nav bar -->
    <%- include('nav.html') %>
   
   
    <div class="container p-4 detail">

      <div class="row">
        <div class="col-3">
          <ul class="list-group chat-list">
           <% for (let i = 0; i < data.length; i++) { %> 
            <li id="list-group-item" class="list-group-item" data-id="<%= data[i]._id %>">
              <h6><%= data[i].title %></h6>
              <h6 class="text-small"><%= data[i].member[0] %></h6>
            </li>
            <% } %>
           </ul>
        </div>
    
         <div class="col-9 p-0">
           <div class="chat-room" style="display: none;">
              <ul class="list-group chat-content">
                <!-- 채팅방 내용 -->
                <!-- <div id="content">

                </div> -->
              </ul>
              <div class="input-group">
                <input type="hidden" class="form-control" id="curUser" value="<%= data.curUser %>">
                <input class="form-control" id="chat-input">
                <button class="btn btn-secondary" id="send">전송</button>
              </div>
              <br>
              <button class="btn btn-outline-secondary center_sj" id="user-left">현재 채팅방 나가기</button>
            </div>
        </div>
      </div> 


    <!-- <div>채팅방</div>
    <input id="input1">
    <div id="content"></div>
    <button id="send-test">서버에 메세지 보내기</button>
    <button id="room1">채팅방1 입장</button>
    <button id="room1-send">채팅방1에서 메세지 보내기</button> -->

    <script>

        // 변수들
        var socket = io(); // 소켓 변수
        let curUser = $('#curUser').val(); // 현재 접속한 유저 
        let joinCheck=0;

        //1. 채팅방 클릭 - 아이디 가져오기(방 하나만 선택)
        $('.list-group-item').click(function(){

          //2. 채팅창 띄우기
          $('.chat-room').show();

          //3. 채팅 내용 지우기 
          $('.chat-content').html("");

          //4. 채팅방 아이디 가져오기
          curChatRoomId = this.dataset.id;

          //5. 채팅방에 입장하기 - 채팅방 이름 전송
          console.log(curChatRoomId + '채팅방 입장');
          socket.emit('join-room', curChatRoomId);

          // 10. 채팅방 나가기
          $("#user-left").click(function(){
            console.log(`${curChatRoomId} 채팅방 퇴장`);
            
            // 11. 현재 채팅방 나가기
            socket.emit('user-leave',curChatRoomId);
            
            // 12. 채팅방 ui 없애기
            $('.chat-room').hide();
          });
        });

        
        //6. 전송 버튼 누르기
        $("#send").click(function(){
          console.log('전송버튼 누름')

          // 메세지 보낸 시간 누를 때마다 계산
          let date_ob = new Date();
          let hours = date_ob.getHours();
          let minutes = date_ob.getMinutes();
          if(minutes.toString().length==1) minutes = "0" + minutes;
          let msgTime;

          if (hours > 12) {
            hours = hours - 12;
            msgTime = `오후 ${hours}:${minutes}`;
          } else {
            msgTime = `오전 ${hours}:${minutes}`;
          }

          // 전송할 데이터 : msg, curUser, msgTime
          let sendData = {
            msg : $("#chat-input").val(),
            curUser : curUser,
            msgTime : msgTime
          }

          // 7. 서버에 메세지 전송
          socket.emit('room-send',sendData);
        });

        // 8. 서버에서 메세지 수신
        socket.on('broadcast', function (data){
        console.log('client:' , data);
            
        // 9. 내가 보낸 메세지와 상대방이 보낸 메세지 구분
          if (curUser === data.userId){
            $('.chat-content').append(`<li><span class="chat-box mine-box">${data.msg}</span>
              </li><li><p class="chat-time mine-time">${data.msgTime}</p></li>`);
          } else {
            $('.chat-content').append(`<li><span class="chat-box">${data.msg}</span>
            </li><li><p class="chat-time">${data.msgTime}</p></li>`);
          }
        });

        
        // // 채팅방1 입장 버튼 
        // $('#room1').click(function(){
        //   console.log('입장');
        //   socket.emit('join-room', '채팅방 입장할래');
        // });

        
        // // 채팅방1 사람들만 볼 수 있는 메세지
        // $('#room1-send').click(function(){
        //   socket.emit('room1-send', '안녕 채팅방1 사람들' )
        // });


        // // 서버에게 웹소켓으로 실시간 메세지 보내기
        // $('#send-test').click(function(){
        //   console.log('메세지 보내기');
        //   // socket.emit(작명, 메세지)
        //   socket.emit('user-send',$('#input1').val());

        //   //서버에게 받은 메세지 
        //   socket.on('broadcast', function data){
        //     // console.log(data);
        //     $("#content").append(`<div>$ data}</div`);
        //   });

        // });
    </script>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

    <!-- $.ajax()이거 쓰려면 slim버전은 주석처리해야함 -->
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>
